@charset "utf-8";


*{
	margin : 0px;
	padding : 0px;
}

html, body, .con{
	width : 100%;
	height : 100%;	
}

.swiper-container {
    width: 100%;
    height: 100%; 
    position: absolute;    
}
.swiper-slide {
	background : #A7A5A5;
    background-position: center;
    background-size: contain;
}

#wei{
	width : 100%;
	height : 100%;
	.page1{
		.bgCome{
			width : 100%;
			height : 100%;
			position: absolute;
			left : 0px; 
			top : 0px;
			background :url('../../source/images/bg3.jpg');
			background-size : cover;
			background-position: 50% 50%;
		}
		.page1_con{
			position: absolute;
			left : 0px;
			top : 0px; 
			width : 100%;
			height : 100%;
			.hu{
				width : 0.2rem;
				height : 0.2rem;
				background : #F553E6;
				border-radius : 50%;
				margin-left : 1rem;
				-webkit-animation: flash 2s ease infinite;
			}
			.huang{
				background : #D1A2F3;
				font-size : 0.3rem;
				width : 3rem;
				position: absolute;
				left : 1rem;
				bottom : 1rem;
				animation: tada 2s ease infinite;
			}
		}
	}
	.page2{
		background : #D160FC;
		.timor{
			width : 2rem;
			background : #E4DFA4;
			font-size : 0.3rem;
		}
	}
	.page3{
		background : #6994F8;
	}
	.page4{
		background : #8BEEB3;
	}
	.page5{
		background : #EFE48D;
	}
}