@charset "utf-8";


// 伪类添加背景图
@mixin bgCome( $url : '#000' ){
	position: relative;
	z-index:1;
	.bg{
		width : 100%; 
		height : 100%;
		animation : scaleDown 5s ease 1s both;
		-webkit-animation : scaleDown 5s ease 1s both;
		background-image: url($url);
		background-size:cover;
		background-position : 50% 50%;
		transform-origin: center center;
	}
}

// 缩小
@keyframes scaleDown {
	0% {
		transform: scale(1.5)
	}

	100% {
		transform: scale(1)
	}
}

@-webkit-keyframes scaleDown {
	0% {
		-webkit-transform: scale(1.5)
	}

	100% {
		-webkit-transform: scale(1)
	}
}

